@mixin box($bg: #fff) {
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: $radius;
  box-shadow: $shadow;
  background: $bg;
}

@mixin responsive-logo($size: 50%) {
  max-height: $size;
  width: auto;
  display: inline-block;
}
